<div class="row" id="issue-tabs-page">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active tabmenu"><a href="#">Uppgift</a></li>
            <li role="presentation" class="       tabmenu"><a href="#">Kommentarer</a></li>
            <li role="presentation" class="       tabmenu"><a href="#">Historik</a></li>
        </ul>
    </div>
</div>
