<table id="timetype-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Vismakod</th>
            <th>Aktiv</th>
            <th>Namn</th>
            <th>Enhet</th>
            <th></th>
            <th><!-- id --></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th></th>
            <th>Vismakod</th>
            <th>Aktiv</th>
            <th>Namn</th>
            <th>Enhet</th>
            <th></th>
            <th><!-- id --></th>
        </tr>
    </tfoot>
</table>
