<table id="news-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th><!-- edit --></th>
            <th>Rubrik</th>
            <th><!-- categoryicon/message popover --></th>
            <th>Visas</th>
            <th><!-- speakicon --></th>
            <th>Släcks</th>
            <th><!-- delete --></th>
            <th><!-- id --></th>
            <th><!-- message --></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th><!-- edit --></th>
            <th>Rubrik</th>
            <th><!-- categoryicon/message popover --></th>
            <th>Visas</th>
            <th><!-- speakicon --></th>
            <th>Släcks</th>
            <th><!-- delete --></th>
            <th><!-- id --></th>
            <th><!-- message --></th>
        </tr>
    </tfoot>
</table>
