<footer style="margin-top:60px">
  <div class="container">
    <hr />
    <p style="text-align:center">Renew Service AB</p>
    <div id="progress-indicator" hidden>
      <img class="center-block" src="/img/progress.gif">
    </div>
  </div>
</footer>
