@{
    ViewBag.Title = "Renew | Välkommen";
    Layout        = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/site-home/js")
}

<!-- Page layout -->

<div class="container">
    <div class="row">
        <div class="col-md-3 site-page-control">
            <h3 class="site-page-header">Renew Service</h3>
            <div class="row hidden-sm hidden-xs">
                <div class="col-md-12">
                    <img class="site-itemmargin-top" src="/img/logotype.png" />
                    <p class="site-itemmargin-top">
                        Fastighetsförvaltning
                    </p>
                    <p class="site-itemmargin-top">
                        Renew Service AB<br />
                        Org.nr 556818-8873<br />
                        Box 936<br />
                        Bjursvägen 29<br />
                        194 29 Upplands Väsby
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-phone-alt" style="color:gray"></span>&nbsp;08 34 38 00<br />
                        <span class="glyphicon glyphicon-envelope" style="color:gray"></span>&nbsp;info@renewservice.se
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 site-page-content">
            <div class="row">
                <div class="col-md-12">
                    Här kommer dashboard med statistik visas
                </div>
            </div>
        </div>
    </div>
</div>
